<tr>
    <td>{{#link-to "podcast" podcast}}{{podcast.title}}{{/link-to}}</td>
    <td>{{#link-to "pod" id}}{{title}}{{/link-to}}</td>
    <td>{{parsed-date pubDate}}</td>
    <td>{{parsed-duration duration}}</td>
    <td>{{hasListend}}
</tr>