<div class="row">
    <div class="col-sm-12">
        <h5>{{title}}</h5>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{#progress-bar percentage=currentPercentage action="jumpToPostion"}}
            {{parsed-duration currentPosition}}
        {{/progress-bar}}  
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <button type="button" class="btn btn-default" {{action "play" target="view"}}>
          <span class="glyphicon glyphicon-play" ></span>
        </button>
        <button type="button" class="btn btn-default" {{action "pause" target="view"}}>
            <span class="glyphicon glyphicon-pause" {{action "pause" target="view" }}></span>
        </button>
    </div>
    <div class="col-sm-7 text-right">
        <button type="button" class="btn btn-default " {{action "mute" target="view"}}>
            <span class="glyphicon glyphicon-volume-off"></span>
        </button>
        <button type="button" class="btn btn-default " {{action "decreaseVolume" target="view"}}>
            <span class="glyphicon glyphicon-volume-down"></span>
        </button>
        <button type="button" class="btn btn-default " {{action "increaseVolume" target="view"}}>
            <span class="glyphicon glyphicon-volume-up"></span>
        </button>
    </div>
</div>
{{view "view.audioTag" viewName="audioTag"}}