<table class="table">
    <tr>
        <th>Title</th><th>Date</th><th>Length</th><th>Listened</th>
    </tr>
    <tr>
        <td>{{title}}</td>
        <td>{{parsed-date pubDate}}</td>
        <td>{{parsed-duration duration}}</td>
        <td>{{hasListened}}
    </tr>
</table>
<div class="list-group">
{{#each audioUrls}}
    <a href="#" class="list-group-item" {{action playNow audioUrl}}>{{file-name audioUrl}}</a>
{{else}}
    <a href="#" class="list-group-item disabled" >No audio files found</a>
{{/each}}
</ul>
<hr/>
<p>{{subtitle}}</p>
{{{description}}}
